<%= form_for @youtuber, html: { multipart: true } do |form| %>
  <% if youtuber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(youtuber.errors.count, "error") %> prohibited this youtuber from being saved:</h2>

      <ul>
      <% youtuber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :youtuber_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :youtuber_description %>
  </div>

  <div class="field">
    <%= form.label :sexuality %>
    <%= form.text_field :sexuality, id: :youtuber_sexuality %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :youtuber_rating %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :youtuber_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
