<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @youtuber.image.url(:medium) %>
				<div class="star-rating" data-score= <%= @avg_review %> ></div>
				<em><%= "#{@reviews.length} reviews" %></em>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><strong>Title:</strong></td>
								<td><%= @youtuber.title %></td>
							</tr>
							<tr>
								<td><strong>Description:</strong></td>
								<td><%= @youtuber.description %></td>
							</tr>
							<tr>
								<td><strong>Sexuality:</strong></td>
								<td><%= @youtuber.category.name %></td>
							</tr>
							<tr>
								<td><strong>Rating:</strong></td>
								<td><%=  @youtuber.rating %></td>
							</tr>
						</tbody>
					</table>
					<%= link_to "Write a review", new_youtuber_review_path(@youtuber) %>
				</div>
			</div>
			<div class = "col-md-7 col-md-offset-1">
				<h1 class="review_title"><%= @youtuber.title %></h1>
				<p><%= @youtuber.description %></p>

				<%if @reviews.blank? %>
					<h3>No reviews just yet, would you like to be the first!</h3>
					<%= link_to "Write Review", new_youtuber_review_path(@youtuber), class: "btn btn-danger" %>
				<% else %>
					<% @reviews.each do |review| %>
						<div class="reviews">
							<div class="star-rating" data-score= <%= review.rating %> ></div>
							<p><%= review.comment %></p>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= link_to 'Back', youtubers_path %>

<% if user_signed_in? %>

	<% if @youtuber.user_id == current_user.id %>
		<%= link_to 'Edit', edit_youtuber_path(@youtuber) %> 
		<%= link_to 'Delete', youtuber_path(@youtuber), method: :delete, data: { confirm: "Are you sure?" } %> 
	<% end %>
<% end %>

<script>
	$('.star-rating').raty({
	path: '/assets/',
	readOnly: true,
	score: function() {
		return $(this).attr('data-score');
		}
	});
</script>
