<div class="wrap-user">
  <button class="form-btn-close">
    <%= link_to youtubers_path do %>
      <i class="far fa-times-circle"></i>
    <% end %>
  </button>

  <div class="user-form-title">
      <span>Forgot your password?</span>
  </div>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
		<div class= "container-user-form">
		  <div class="field input-container">
		  	<div class="col-sm-12 email-input with-placeholder">
		    	<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@rainbowrank.com" %>
		    </div>
		  </div>

			<div class="reset-btn">
			  <div class="actions">
			    <%= f.submit "Reset Password", class: "btn btn-danger" %>
			  </div>
			</div>
		</div>
		<%= render "devise/shared/links" %>
	<% end %>
</div>