<div class="wrap-user">
  <button class="form-btn-close">
    <%= link_to youtubers_path do %>
      <i class="far fa-times-circle"></i>
    <% end %>
  </button>

  <div class="user-form-title">
      <span>Log in</span>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class= "container-user-form">
      
      <div class="field input-container">
       <div class="col-sm-12 email-input with-placeholder">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@rainbowrank.com"%>
        </div>
      </div>

      <div class="field input-container">
        <div class="col-sm-6 password-input with-placeholder with-center">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
        <div class="col-sm-12 check-box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log In", class:"btn btn-danger" %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>