<h1 class="current-category"> <%= params[:category] %> </h1>
<% if @category.youtubers.blank? %>
	<h2> There are no Youtubers in this category, be the first! </h2>
	<%= link_to "Create a Youtuber", new_youtuber_path(@youtuber), class: "btn btn-danger" %>
<% else %>
	<div class="row">
		<% for youtuber in @category.youtubers do %>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<%= link_to (image_tag youtuber.image.url(:medium), class:'image'), youtuber %>
					<%= link_to like_youtuber_path(youtuber), class: "like", method: :put do %>
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
							<span class="badge"><%= youtuber.get_upvotes.size %></span>
						</button>
					<% end %>
				
					<%= link_to unlike_youtuber_path(youtuber), class: "like", method: :put do %>
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
							<span class="badge"><%= youtuber.get_downvotes.size %></span>
						</button>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
<%= link_to 'Back', categories_path %>
